.start-linking div {
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    top: 200px;
}
.otp-wrapper .form-group {
    -ms-transform: translate(-50%, -50%);
}
.pending {
    background: url("../images/ring-alt.gif") no-repeat;
    background-size: cover;
    border: 0px;
    border-radius: 0px;
}
.pending:before,
.pending:after {
    content: none;
}