/**
 * ========================== Global css START ============================
 */
body,html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 100%;
    height: 100%;
    font-family: 'Arimo', 'Roboto';
}
h1, h2, h3, h4, h5, h6, p, form , label, input, select, span, button{
    margin: 0;
    font-family: 'Arimo', 'Roboto';
}
div, section {
    display: block;
}
.wrapper {
    width: 100%;
    max-width: 768px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.left-arrow ,
.right-arrow{
    background: url('../images/left_blue_arrow.png') center no-repeat;
    display: block;
    height: 100%;
    width: 100%;
}
.right-arrow {
    background: url('../images/right_blue_arrow.png') center no-repeat;
}
input.form-control {
    border: 0px;
    outline: none;
    box-shadow: none;
    padding: 4px 0px;
    border-bottom: 1px solid #d1d4d8;
    color: #d1d4d8;
    font-size: 1.1em;
    min-height: 2.2em;
    border-radius: 0px;
    color: #444444;
}
input.form-control:focus {
    outline: none;
    box-shadow: none;
}
.form-group label {
    font-size: 0.95em;
    font-weight: 400;
    color: #005094;
    margin: 0;
}
.form-group label.error {
    color: #f53f3f;
    font-size: 0.8em;
    font-style: italic;
}
.form-group {
    margin-bottom: 25px;
}
/**
 * ========================== Global css END ============================
 */


/**
 * ========================== Get Started css START ============================
 */
.get-started {
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 400px;
}
.get-started header h2 {
    font-size: 1.4em;
    text-align: center;
    color: #005094;
}
.get-started  .footer {
    position: fixed;
    margin-top: 30px;
    min-height: 50px;
    background: #ef9f3e;
    text-align: center;
    padding: 13px;
    color: #ffffff;
    width: 100%;
    left: 0;
    z-index: 2;
    bottom: 0;
}
.get-started  .footer a {
    color: #ffffff;
    text-decoration: none;
}


.get-started  .footer h2 {
    font-size: 1.1em;
}
.get-started  .footer p {
    font-size: 0.8em;
}
.step-carousel {
    margin-top: 20px;
    padding: 15px;
    background: #f8fdff;
    border-radius: 10px;
    border: 1px solid #88cbed;
    min-height: 200px;
    text-align: center;
    padding-top: 30px;
}
.form-group label .bank-name {
    padding-left: 0.5em;
    font-size: 0.7em;
}
.step-carousel .img {
    width: 3em;
    margin: 0 auto;
}
.step-carousel .img img {
    width: 100%;
}
.step-carousel h3 {
    margin-top: 15px;
    color: #4dcdff;
    font-size: 1.7em;
}
.step-carousel p {
    margin-top: 12px;
    color: #ef9f3e;
}
.step-carousel .owl-next ,
.step-carousel .owl-prev {
    position: absolute;
    height: 2.5em;
    width: 2.5em;
    border: 1px solid #88cbed;
    border-radius: 50%;
    z-index: 2;
    background-color: #f8fdff;
    left: -1.25em;
    top: 40%;
    padding: 0.6em;
}
.owl-prev.disabled ,
.owl-next.disabled
{
    display: none;
}
.step-carousel .owl-next {
    left: auto;
    right: -1.25em;
}
.desc-carousel {
    margin-top: 20px;
    padding: 15px;
    padding-bottom: 15px;
    background: #f4f4f4;
    min-height: 100px;
    text-align: center;
}
.desc-carousel .img {
    width: 2.4em;
    margin: 0 auto;
}
.desc-carousel .owl-next,
.desc-carousel .owl-prev
{
    position: absolute;
    height: 2.5em;
    width: 2.5em;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0);
    left: -2.1em;
    top: 36%;
    padding: 0.6em;
}
.desc-carousel .owl-next {
    right: -2.1em;
    left: auto;
}
.desc-carousel .left-arrow {
    background: url("../images/left_black_arrow.png") center no-repeat;
}
.desc-carousel .right-arrow {
    background: url("../images/right_black_arrow.png") center no-repeat;
}
.desc-carousel h3 {
    color: #545454;
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 1.2em;
    text-transform: uppercase;
}
.desc-carousel p {
    font-size: 0.83em;
    color: #868686;
}
.desc-carousel p span {
    color: #ef9f3e;
}
.owl-dot {
    height: 0.5em;
    width: 0.5em;
    background: #e6e8ea;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0.12em;
}
.owl-dot.active {
    background: #beb9b9;
}
/**
 * ========================== Get Started css END ============================
 */
/**
 * ========================== Enter credentials START =========================
 */
.credentials {
    height: 100%;
    display: none;
}
.credentials header {
    padding: 18px 25px;
    background: #004885;
    position: relative;
    z-index: 30;
}
.credentials header h2 {
    color: #ffffff;
    text-align: left;
    font-size: 1.2em;
}
.form-wrap {
    padding: 30px;
    display: none;
}
.select-wrap {
    padding: 18px 25px;
    background: #005094;
    color: #ffffff;
    position: relative;
}
.select-wrap label {
    font-size: 1.1em;
    padding-left: 30px;
    font-weight: 400;
    position: relative;
}
.select-wrap label.error {
    padding-left: 0;
    font-size: 0.9em;
    margin-top: 0.5em;
}
.select-wrap .select {
    background: #005094;
    border: 0px;
    border-bottom: 1px solid #4d85b4;
    color: #4d85b4;
    outline: none;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    padding: 5px 0px;
    font-size: 1.2em;
    height: 2em;
    border-radius: 0px;
}

.select-wrap .select:focus {
    outline: none;
    box-shadow: none;
    border: 0px;
    border-bottom: 1px solid #4d85b4;
}
.select-wrap:after {
    content: '';
    position: absolute;
    right: 20px;
    height: 1.5em;
    width: 1.5em;
    z-index: 2;
    background: url(../images/down_arrow.png) center no-repeat;
    top: 3.3em;
}
.icon-institution {
    position: absolute;
    left: 0;
    height: 1.5em;
    width: 1.5em;
    background: url(../images/institute.png) 2px 3px no-repeat;
    background-size: 1em;
}
.buttons {
    margin-top: 35px;
}
.buttons .btn {
    padding: 6px 24px;

}
.buttons .btn.btn-default {
    background: #b9b9b9;
    color: #ffffff;
}

.start-linking {
    padding: 25px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 70vh; /* For IE 10 issue fixes*/
    height: 70%;  /* For IE 10 issue fixes */
    min-height: 400px;/* For IE 10 issue fixes */
}
.start-linking div {
    padding: 15px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    background: #f4f4f4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    -webkit-transform: translate3d(-50%,-50%, 0);
    -moz-transform: translate3d(-50%,-50%,0);
    width: 86.5%;
}
.start-linking p {
    font-size: 1em;
    color: #868686;
}
.loading-delay {
    padding: 20px;
    display: none;
}
.loading-delay div {
    background: #5ec5f9;
    border-radius: 3px;
    color: #ffffff;
    padding: 1em 3em 1em 3em;
    position: relative;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}
.loading-delay div p {
    font-size: 0.85em;
}
.icon-warning {
    position: absolute;
    width: 2em;
    height: 2em;
    background: url(../images/warning.png) center no-repeat;
    top: 50%;
    left: 0.7em;
    background-size: 1.5em;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}
.icon-close {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    background: url(../images/close.png) center no-repeat;
    top: 0.5em;
    right: 0.7em;
    background-size: 0.9em;
}
.search-list {
    display: none;
    position: absolute;
    max-height: 400px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    left: 0;
    z-index: 99;
    background: #fff;
    top: 5.9em;
    -webkit-box-shadow: 0px 15px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 15px 5px -1px rgba(0,0,0,0.75);
}

.search-list li {
    width: 100%;
    display: block;
    position: relative;
}
.search-list li:after {
    content: '';
    position: absolute;
    width: 80%;
    height: 1px;
    background: #c5c5c5;
    bottom: 0;
    margin: 0 auto;
    left: 9.8%;
}
.search-list li a {
    padding: 1em;
    color: #464646;
    display: block;
    text-decoration: none;
}

.search-list li a.active {
    background-color: #eee;
}

/**
 * ========================== Enter credentials END =========================
 */
/**
 * ========================== Account link status Start =========================
 */

.account {
    height: 100%;
    display: none;
}
.account header {
    padding: 18px 25px;
    background: #004885;
    position: relative;
    z-index: 30;
}
.account header h2 {
    color: #ffffff;
    text-align: left;
    font-size: 1.2em;
}
.account-list {
    padding: 1.8em 1.9em;
    height: 77%;
    height: 77vh;
    overflow-y: auto;
}
.panel-heading {
    padding: 0;
}
.panel-heading a {
    text-decoration: none;
    padding: 1em 1.3em;
    display: block;
    color: #fff;
    font-size: 0.85em;
    background: #66afed;
    background: #0079e1;
    border-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    position: relative;
}
.panel-heading a:after {
    content: '';
    position: absolute;
    right: 1em;
    top: 1em;
    height: 1em;
    width: 1em;
    background: url("../images/minus.png") center no-repeat;
    background-size: contain;
}
.panel-heading a.collapsed:after {
    background: url("../images/plus.png") center no-repeat;
    background-size: contain;
}
.panel-heading a.collapsed {
    background: #66afed;
}
.account-list .panel-body {
    padding: 0;
}
.panel-body .list {
    padding: 15px;
    margin: 0;
}
.icon-tick, .icon-error {
    background: url("../images/tick.png") center no-repeat;
    background-size: contain;
    height: 1em;
    width: 1em;
    display: inline-block;
    position: absolute;
    left: 0;
}
.icon-error {
    background: url("../images/error.png") center no-repeat;
    background-size: contain;
}
.list li {
    padding-left: 1.5em;
    list-style: none;
    position: relative;
    margin-bottom: 1em;
}
.list .tran {
    color: #000000;
    font-size: 0.85em;
}
.list span.tran-count {
    color: #9a9a9a;
    font-size: 0.7em;
    position: absolute;
    right: 0;
    top: 3px;
}
.list .load {
    padding-left: 0;
}
.list .load .icon-tick {
    display: none;
}
.loading {
    width: 100%;
    height: 2px;
    background: #e4e4e4;
}
.loading .progress {
    width: 50%;
    height: 100%;
    background: #4ac0fd;
}
.add-account {
    padding-left: 2.1em;
    padding-right: 2.1em;
    padding-top: 1em;
    -webkit-box-shadow: 0px -5px 22px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px -5px 22px 0px rgba(255,255,255,1);
    box-shadow: 0px -5px 22px 0px rgba(255,255,255,1);
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 2.7em;
    background: #fff;
}
.add-account .btn{
    width: 8em;
}
.add-account .btn.btn-default {
    color: #fff;
    background: #b9b9b9;
}
.panel-title .status {
    position: absolute;
    right: 2.5em;
    top: 0.7em;
}
.panel-title .status span {
    position: relative;
    height: 1.4em;
    width: 1.4em;
    display: inline-block;
}
.panel-title .status .text {
    display: inline-block;
    padding: 0.3em;
    font-size: 0.9em;
    padding-left: 1em;
}


.pending {
    border: .24em solid #fa9010;
    border-radius: 50%;
    background: transparent;
}
.pending:before {
    content: '';
    display: block;
    width: inherit;
    height: inherit;
    position: absolute;
    -webkit-animation: 1s pending linear infinite;
    -moz-animation: 1s pending linear infinite;
    animation: 1s pending linear infinite;
    top: -.20em;
    left: -.23em;
    border: .22em solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    opacity: 0.6;
}

@-webkit-keyframes pending {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes pending {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}
@-ms-keyframes pending {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.message {
    padding: 0.7em 2.5em 0.7em 1em;
    position: relative;
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
}
.message p:nth-child(2) {
    margin-top: 10px;
}
.message .close {
    position: absolute;
    right: 0.7em;
    height: 0.5em;
    width: 0.5em;
    top: 0.5em;
    opacity: 1;
}
.message .retry {
    border: 1px solid #f39c12;
    color: #f39c12;
    position: absolute;
    right: 0.7em;
    top: 0.8em;
    background: #ffffff;
    padding: 0.3em 0.5em;
    line-height: 1;
    font-size: 1em;
}
.message.error {
    background: #fef4f4;
    color: #f20000;
}
.message.error .close {
    background: url("../images/red-cross.png") center no-repeat;
    background-size: contain;
}
.message.error .retry-msg {
    width: 90%;
}

.message.success {
    background: #f4fbf5;
    color: #08ac14;
}
.message.success .close {
    background: url("../images/green-cross.png") center no-repeat;
    background-size: contain;
}
/**
 * ========================== Account link status END =========================
 */
/**
 * ========================== OTP Detail START =========================
 */
.otp {
    height: 100%;
    height: 100vh;
    display: none;
}
.otp header {
    padding: 18px 25px;
    background: #004885;
    position: relative;
    z-index: 30;
}
.otp header h2 {
    color: #ffffff;
    text-align: left;
    font-size: 1.2em;
}
.otp header h2 .bank-name {
    color: #4b9de2;
}
.otp-wrapper {
    padding: 2em;
    height: 70%;
    height: 70vh;
    position: relative;
    /*overflow-y: auto;*/
    -webkit-transition: transform 0.5s linear;
    -moz-transition: transform 0.5s linear;
    -ms-transition: transform 0.5s linear;
    -o-transition: transform 0.5s linear;
    transition: transform 0.5s linear;
}
.otp-wrapper .form-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    padding: 0 2em;
    width: 100%;
}
.otp-wrapper .form-group > p {
    margin-bottom: 1.6em;
}
.otp-timer {
    position: absolute;
    right: 2.2em;
    top: 7em;
    font-size: 0.7em;
    color: #fa9010;
}
.otp-timer span {
    position: relative;
    height: 1.4em;
    width: 1.4em;
    display: inline-block;
    top: 0.3em;
}
.otp-timer p {
    display: inline-block;
    padding: 0.2em 0.5em;
}
/**
 * ========================== OTP Detail END =========================
 */

/**
 * ========================== Captcha detail START ====================
 */
.captcha {
    display: none;
}
.captcha .captcha-text {
    padding: 0.6em 1em;
    text-align: left;
    font-style: italic;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-bottom: 10px;
}
.icon-refresh {
    background: url("../images/refresh.png") center no-repeat;
    background-size: contain;
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    cursor: pointer;
}
/**
 * ==========================  Captcha detail END =====================
 */
/**
 * =========================== Update password START ===================
 */
#updatepassword {
    display: none;
}
#updatepassword .form-wrap {
    display: block;
}
#updatepassword .select-wrap {
    background: #d8d8d8;
    pointer-events: none;
    color: #555555;
}
#updatepassword .select-wrap .select {
    background: #d8d8d8;
    border-bottom: 1px solid #a6a6a7;
    color: #9e9e9e;
}
#updatepassword .select-wrap:after {
    display: none;
}
#updatepassword .icon-institution {
    background: url(../images/institute_black.png) 2px 3px no-repeat;
    background-size: 1em;
}

/**
 * Media query based on the device
 */
@media screen and (max-width: 320px){
    .panel-heading a > span {
        max-width: 125px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .list span.tran-count {
        top: 1px;
    }
    .list .tran {
        font-size: 0.75em;
    }
}
@media screen and (max-width: 360px){
    .otp-timer {
        top: 8.1em;
    }
    .account-list {
        padding: 1.2em;
    }
}
@media screen and (max-width: 414px) {
    .get-started {
        height: 113%;
    }
    .otp-timer {
        top: 8.7em;
    }
}